/* font */

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


/* universal code to remove margin & padding */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

  }


body {
    font-family: 'Lora', serif;
}

hr {
    width: 800px;
    margin: 60px auto;
}

img {
    width: 100%;
}

h2 {
    text-align: center;
}

p {
    font-size: 20px;
}



/* header */

header, footer {
    text-align: center;
    background-color: #14213d;
    color: white;
    height: 100px;
    padding: 20px 0;
}


header h1 {
    letter-spacing: 10px;
    margin-bottom: 10px;
}

/* Intro Section */

#intro {
    margin: 20px auto;
    padding: 30px 300px;
    text-align: center;
    
}



#intro h2 {
    margin: 10px 0;
    font-size: 30px;
}

#intro p {
    text-align: left;
}

.default {
    width: 100%;
}

ul {
    display: table;
    margin: 10px auto;
}

/* About Me */

#about-me {
    display: block;
    margin: 20px 0;

    padding: 50px 150px;
    background-color: #457b9d;
    color: white;
}


#about-me img {
    width: 60%;
}



#about-me p {
    margin: 10px 0;
}

/* Contact Me */

#contact-me {
    margin: 20px auto 50px;
    text-align: center;
    width: 600px;
}

#contact-me p {
    text-align: left;
    margin: 20px 0;

}

.mapouter {
    margin: 30px auto;
}

ol {
    display: table;
    margin: 10px 0;
    text-align: left;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item {
    flex: 1;
    margin: 40px;
}